<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WEBService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24F0D6F81EE0343F00E83A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F0D70C1EE0343F00E83A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F0D7171EE0343F00E83A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
